<div class="row">
    <div class="col-lg-12">
        <span class="pagination_count" style="line-height: 40px;">共212条记录 | 每页555555条</span>
        <ul class="pagination pagination-lg   pull-right" style="margin: 0 0 ;">

             <li>
                 <a href="55&p=1" ><span>首页</span></a>
             </li>

                    <li class="active"><a href="javascript:void(0);">{{ idx }}</a></li>
                    <li><a href="&p={{idx}}">{{ idx }}</a></li>
             <li>
                    <a href="&p=3333" ><span>尾页</span></a>
             </li>
        </ul>
    </div>
</div>
