<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li {% if current == "index" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/account/index') }}">账户列表</a>
                </li>
                <li {% if current == "role" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/account/role') }}">角色管理</a>
                </li>
                <li {% if current == "permission" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/account/permission') }}">权限管理</a>
                </li>
            </ul>
        </div>
    </div>
</div>