{% extends "common/layout_main.html" %}
{% block content %}
    {% include "common/tab_account.html" %}
    <div class="row m-t  wrap_account_role_set">
        <div class="col-lg-12">
            <h2 class="text-center">角色权限配置</h2>
            <div class="form-horizontal m-t m-b">
                <div class="form-group">
                    <label class="col-lg-2 control-label">角色名称:</label>
                    <div class="col-lg-10">
                        <input type="text" name="role_name" class="form-control" placeholder="请输入角色名称~~"
                               value="{{ role.name }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">创建人(昵称):</label>
                    <div class="col-lg-10">
                        <input type="text" name="creator" class="form-control" readonly="readonly"
                               placeholder="请输入创建人(昵称)~~"
                               value="{{ current_user.nickname }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div id="permissions-container"></div>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-2">
                        <input type="hidden" name="id" value="{{ role.id }}">
                        <button class="btn btn-w-m btn-outline btn-primary save">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script> var selectedPermissions = {{ role.selected_permissions | tojson }}; </script>
    <script> var selected_permissions_name = {{ role.selected_permissions_name | tojson }}; </script>
    <script src="{{ buildStaticUrl('/js/account/role_set.js') }}"></script>
{% endblock %}
